$access_point_orange: #ff9800;
$access_point_blue: #00bcd4;
$access_point_green: #4caf50;
$access_point_red: #e91e63;
$access_point_pastel_orange: #fdd49e;

$bootstrap-primary: #0066f9;
$bootstrap-primary-hover: #0069d9;
$title_btn_pink: #ff91a4;


// --- Card colours
$light-grey: #ededed;
$dark-grey: #ccc;


// --- Landing page Access points
$online_devices: #60c9dd;
$offline_devices: #e9a945;
$total_devices: #4994ec;


// --- Grey pattern
$primary-pattern: #ededed;
$secondary-pattern: #ccc;
$ternary-pattern: #fff;


// --- BUTTON COLOURS NEW MAP

// IoT Sensor:
$iot_sensor_online_primary: #4ECDC4;
$iot_sensor_online_accent: #00A79D;
$iot_sensor_online_highlight: #A1E9DE;

$iot_sensor_offline_primary: #FFEB4D;
$iot_sensor_offline_accent: #FBC02D;
$iot_sensor_offline_highlight: #FFF9C4;

// WiFi Access Point:
$wifi_access_point: #6BB9F0;
$wifi_access_accent: #3498DB;
$wifi_access_highlight: #3498DB;

// Recent SSID's
$recent_ssid_primary: #FFEB4D;
$recent_ssid_accent: #FBC02D;
$recent_ssid_highlight: #FFF9C4;

// Historic SSIDs:
$historic_ssid_primary: #FF6B6B;
$historic_ssid_accent: #E74C3C;
$historic_ssid_highlight: #FFC1C1;

